<div class="body">
  <mat-toolbar color="primary">
    <!-- <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button> -->
    <img class="logo" src="assets/chip.png" alt="" />
    <!-- <span>Game</span> -->
    <!-- <span class="example-spacer"></span> -->
    <!-- <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button> -->
  </mat-toolbar>

  <!-- <div class="inst">
    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>Instructions</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Hi, find the hidden Chip behind the images below. Out of 10 chances; 3
          or more correct picks wins. 1 point for every correct pick. Good luck!
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div> -->

  <mat-card>
    <mat-card-title>Rules of Chip game </mat-card-title>
    <mat-card-content>
      <ol>
        <li>
          Find the hidden Chip behind the images below. Out of 10 chances; 3 or
          more correct picks wins. 1 point for every correct pick.
        </li>
        <li>
          You need to hold a minimum of 500 $CHIP in other to play and earn
        </li>
        <li>
          If you hold between 500 - 2000 $CHIP, you have a maximum trial of 20
          games per day
        </li>
        <li>
          If you hold between 2001 - 5000 (Basic CHIP), you have a maximum trial
          of 50 games per day
        </li>
        <li>
          if you hold between 5001 - 10,000 (Advanced CHIP) you have a maximum
          trial of 100 games per day
        </li>
        <li>
          VIP CHIP holders (10001 and above) has a maximum trial of 200 games
          per day
        </li>
        <li>You get 0.02 ETH for each game you win</li>
      </ol>
    </mat-card-content>
  </mat-card>

  <!-- <div class="card">
    <mat-card><img src="../../assets/unknown.png" alt="" /></mat-card>
    <mat-card><img src="../../assets/unknown.png" alt="" /></mat-card>
    <mat-card><img src="../../assets/unknown.png" alt="" /></mat-card>
    <mat-card><img src="../../assets/unknown.png" alt="" /></mat-card>
  </div> -->

  <div class="card">
    <div (click)="onClick(1)">
      <img *ngIf="image1" src="assets/unknown1.png" alt="" />
      <img *ngIf="p1" src="assets/chip.png" />
    </div>
    <div (click)="onClick(2)">
      <img *ngIf="image2" src="assets/unknown1.png" alt="" />
      <img *ngIf="p2" src="assets/chip.png" />
    </div>
    <div (click)="onClick(3)">
      <img *ngIf="image3" src="assets/unknown1.png" alt="" />
      <img *ngIf="p3" src="assets/chip.png" />
    </div>
    <div (click)="onClick(4)">
      <img *ngIf="image4" src="assets/unknown1.png" alt="" />
      <img *ngIf="p4" src="assets/chip.png" />
    </div>
  </div>

  <div class="footer">
    <div class="box">
      <p>Score</p>
      <span>{{ totalScore }}</span>
    </div>
    <button mat-raised-button (click)="resetGame()">Reset Game</button>
    <div class="box">
      <p>Chances</p>
      <span>{{ chances }}</span>
    </div>
  </div>
</div>
